$color-primaria: #683D8E;
$color-secundaria: #B09FC1;
$color-background: #F9F4FF;
$color-bg-agenda: rgba(104,61,142, 0.5);;
$color-hover-botao: rgba(255, 255, 255, 0.3);
$color-hover-botao-2: rgba(104,0,142, 0.9);
$color-texto: #707070;