@import "../Variantes";


div.menu {
  background-color: $color-primaria;
   width: 1280px;
  height: 116px;
}

.gap{
    gap:2rem;
}

.m{
    margin-right: 54px;
}

.navbar-light .navbar-nav a.nav-link {
    padding: 1px;
    padding-top: 8px;
  color: #ffffff;
}

div button.button_nav {
    font-size: 1.125rem;
    
  width: 204px;
  height: 48px;
  border: unset;
  background-color: $color-secundaria;
}

div button.button_nav:hover {
  background-color: $color-hover-botao;
}
